body {
  background: url('stars.gif') #bba500;
}

h1 {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: yellow;
  color: green;
  border: 1px solid red;
}

h2,
h3 {
  color: indigo;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.4em;
}

a {
  font-size: 1.1em;
  font-weight: bold;
  background: red;
}

.gallery > div {
  display: inline-block;
  max-width: 300px;
}

.gallery img {
  max-width: 100%;
}
